
//Colors

$purple-light: #7377BF;
$purple-dark: #4D4C72;

$green-light: #81C98F;
$green-dark: #74B1BF;

$white: #fff;
$black: #000;
$grey: #B2B2B2;

//Breakpoints

$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;

//Buttons

$button-border-radius: 5px;

$button-primary-bg-color: $purple-light;
$button-secondary-bg-color: $grey;

//Icons

$border-radius-circular: 50%;
