.o-main-nav {
    display: flex;
    justify-content: space-around;
    padding-top: 2.5rem;
    padding-bottom: 2rem;

    @media(min-width: $screen-md-min) {
        justify-content: flex-start;
        display: inline-flex;
        min-height: 100vh;
        flex-direction: column;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 3rem;
    }
}
