
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
}

main {
    width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
    text-decoration: none;
    color: $purple-light;
}

.svg-container {
    display: none;
}

.page-content {
    @media(min-width: $screen-md-min) {
        display: flex;
    }
}
