.content-container {
    width: 100%;
    border-bottom: $border-style;
    .grid-row {
        display: flex;
        flex-wrap: wrap; //fit into one line

        @media(min-width: $screen-md-min) {
            flex-wrap: nowrap; //switch into more lines
        }

        [class*='grid-row--'] {
            padding: $spacer;
            flex-basis: 100%;

            &:not(:last-child) {
                border-right: $border-style;
            }

            &.grid-row--no-border-right {
                border-right: none;
            }

            &.grid-row--no-padding {
                padding: 0;
            }
        }

        .grid-row--4-cols {
            @media(min-width: $screen-md-min) {
                max-width: 100% / 12 * 4;
                flex-basis: (100% / 12 * 4);
            }
        }

        .grid-row--6-cols {
            @media(min-width: $screen-md-min) {
                max-width: 100% / 12 * 6;
                flex-basis: (100% / 12 * 6);
            }
        }

        .grid-row--12-cols {
            @media(min-width: $screen-md-min) {
                max-width: 100% / 12 * 12;
                flex-basis: (100% / 12 * 12);
            }
        }
    }
}
