.u-bg-color-purple-light {
    background-color: $purple-light;
}

.u-bg-color-purple-dark {
    background-color: $purple-dark;
}

.u-bg-color-green-light {
    background-color: $green-light;
}

.u-bg-color-green-dark {
    background-color: $green-dark;
}
