.u-bg-color-purple-light {
    background-color: $purple-light;
}

.u-bg-color-purple-dark {
    background-color: $purple-dark;
}

.u-bg-color-green-light {
    background-color: $green-light;
}

.u-bg-color-green-dark {
    background-color: $green-dark;
}

.u-flex-dir-col {
    display: flex;
    flex-direction: column;
}

.u-flex {
    display: flex;
    align-items: center;
}

.u-position-relative {
    position: relative;
}
