
//Colors

$purple-light: #7377BF;
$purple-dark: #4D4C72;

$green-light: #81C98F;
$green-dark: #74B1BF;

$white: #fff;
$black: #000;
$grey: #B2B2B2;

//Breakpoints

$screen-sm-min: 320px; //<-- brauch ich den?
$screen-md-min: 768px;
$screen-lg-min: 1024px;

//Buttons

$button-primary-bg-color: $purple-light;
$button-secondary-bg-color: $grey;

//Icons





$transition-style: 0.2s ease-out;
$border-radius-round-corners: 0.5rem;


// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns:                  12;
$grid-gutter-width:             20px;
