
// Colors

$purple-light: #7377BF;
$purple-dark: #4D4C72;

$green-light: #81C98F;
$green-dark: #74B1BF;

$white: #fff;
$black: #000;

//Breakpoints

$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;