.a-btn {
    border-radius: 0.5rem;
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;

    &.a-btn--primary {
        background-color: $purple-light;
    }

    &.a-btn--secondary {
        background-color: $grey;
    }

    &.a-btn--fullwidth {
        width: 100%;
    }

    &.a-btn--close-alert {
        padding: 0;
        margin-left: auto;
        color: $white;
        border: 0;
    }

    &.a-btn--settings-switch {
        border-radius: 2rem;
        width: 9rem;
        position: relative;
        text-align: left;
        background-color: $purple-light;
        border: $border-style;
        display: flex;
        align-items: center;
        padding-right: 0.7rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;

        &:after {
            content: '';
            height: 2.3rem;
            width: 2.3rem;
            right: 5px;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            background-color: $white;
            border: $border-style;
            transition: right $transition-style;
        }

        &.off {
            &:after {
                right: calc(100% - 2.3rem);
            }
        }

        span {
            margin-left: auto;
        }
    }
}
