.a-btn {
    border-radius: 0.5rem;
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &.a-btn--primary {
        background-color: $purple-light;

    }

    &.a-btn--secondary {
        background-color: $grey;
    }

    &.a-btn--close-alert {
      padding: 0;
      
    }


}
