.a-icon {
    &.a-icon--main-nav {
        height: 3.2rem;
        width: 3.2rem;
    }

    &.a-icon--header-bar {
        height: 2rem;
        width: 2rem;
        margin-right: 2rem;
    }

    &.a-icon--social {
        height: 4rem;
        width: 4rem;
        color: $white;
    }

    &.a-icon--search {
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        color: $purple-light;
    }
}
