.a-input {
    border-radius: $border-radius-round-corners;
    border: $border-style;
    padding: {
        top: 1.5rem;
        right: 2rem;
        bottom: 1.5rem;
        left: 2rem;
    }
    color: $grey;
    margin-bottom: $spacer;
    background-color: $grey-light;
}


//.chartjs-size-monitor {
//    position: relative !important;
//    width: 100% !important;
//}
