.m-input {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: $spacer;
    padding-left: $spacer;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    border-bottom: $border-style;
    border-left: $border-style;
    background-color: $grey-light;

    .m-input__input {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .a-input {
            margin-bottom: 0;
            background-color: $white;
        }

    }
}
