.m-social-cards {
    width: 100%;
    padding: 25px;
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius-round-corners;

    @media (min-width: $screen-lg-min) {
        flex-direction: row;
    }

    @media (min-width: $screen-lg-min) {
        margin-left: 2rem;
        margin-right: 2rem;

        &:first-child {

            margin-left: 0;

        }

        &:last-child {

            margin-right: 0;
        }
    }

    .m-icon-container {
        margin-bottom: $spacer;

        @media (min-width: $screen-lg-min) {
            margin-bottom: 0;
            margin-right: $spacer;
        }
    }

    h3 {
        text-align: center;

        @media (min-width: $screen-lg-min) {
            text-align: left;
        }
    }

    span {
        font-size: 40px;
        font-weight: 100;
    }
}
